# Pinned llama_index version
llama_index==0.12.0 

# Or with explicit together version
llama_index
together==1.3.10 

# Other necessary libraries
deep_translator==1.11.4
docx==0.2.4
gTTS==2.5.3
langchain_community==0.3.13
langdetect==1.0.9
PyPDF2==3.0.1
python_docx==1.1.2
streamlit==1.38.0
